body {
	background: #2d3242;
	color: #ffffff;
}

#Synopsis {
  width: 50em;
}

input[type="radio"] {
  display: none;
}

.form {
  font-size: 24px;
}

.list {
  font-size: 24px;
  line-height: 3em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

